<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mytimescheduler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6415b412-c608-400b-8c9f-2bb6755643a7/resourcegroups/functionrg/providers/Microsoft.Web/sites/MyTimeScheduler</ResourceId>
    <UserName>$MyTimeScheduler</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mytimescheduler.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>